EIO:CFG_1.0:7:0::
#
VIRTUAL_NETWORK:

      -Name "Virtual" -Label "Virtual Device Network"

#CTRL_SIGNATURE:UIrLSSbyb7u5nukPjfcfvN6ERh7R0eh184Ec3IhemRsfHnzD2r48blmw/YrYlnyCnqhc7O22u5b/0y9W8RsQCQ==